{% macro editable_cells(list) %}
    <div class="pt-3 pb-3">
        <p>These cells can be double clicked to edit:
        {% for label in list %}
        {{ label.upper() ~ ',' if not loop.last else label.upper() }}
        {% endfor %}
        </p>
    </div>
{% endmacro %}

{% macro build_table(info) %}
    <table class="table table-striped table-hover" id="data_table_{{info.type}}">
        <thead>
            <tr id="table-head">
                <th><input onclick='checkAll("{{info.type}}")' class="form-check-input" type="checkbox" id="all_checkbox_{{info.type}}"></th>
                {% for col in info.df.columns %}
                {% if col.lower() not in info.hidden_cols %}
                <th>{{ col.upper() }}</th>
                {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody id="table-body">
            {% for i, row in info.df.iterrows() %}
                {% if (info.max_rows is not defined or info.filter is not defined) or (loop.index <= info.max_rows * info.filter) %}
                <tr id="table-{{i}}">
                    <td><input class="form-check-input" type="checkbox" name="checkbox" id="checkbox_{{info.type}}_{{i}}"></td>
                    {% for col in info.df.columns %}
                    {% if col.lower() not in info.hidden_cols %}
                    {% if col.lower() in info.editable_cols %}
                    <td ondblclick='editValue("{{info.type}}", "{{col}}", "{{i}}")' id="editable_{{info.type}}_{{col}}_{{i}}">{{ row[col] }}</td>
                    {% elif col.lower() not in info.hidden_cols -%}
                    <td>{{ row[col] }}</td>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% if info.max_rows is defined %}
    <button type="button" class="btn btn-secondary mx-auto" id="show_more_{{info.type}}" value="{{info.filter}}" onclick="updateTable('{{info.type}}', 'traj_dates', 'show_more_{{info.type}}')">Show more</button>
    {% endif %}
{% endmacro %}
        