<h1 id="changelog">Changelog</h1>
<h2 id="unreleased-2024-11-15">Unreleased (2024-11-15)</h2>
<h3 id="fixes">Fixes</h3>
<ul>
<li>Fixing save and delete issues.</li>
</ul>
<h3 id="new">New</h3>
<ul>
<li>Added map in new area - first version.</li>
</ul>
<h3 id="other">Other</h3>
<ul>
<li><p>Cleand code and files.</p></li>
<li><p>Cleand unused code.</p></li>
<li><p>Switched from dash map to folium to draw polygones.</p></li>
<li><p>Path tab with functionality.</p></li>
<li><p>Renaming column.</p></li>
</ul>
<h3 id="updates">Updates</h3>
<ul>
<li><p>Removed input field for coordinates.</p></li>
<li><p>Update changelog.</p></li>
<li><p>Update .gitlab-ci.yml file.</p></li>
</ul>
<h2 id="section">0.11 (2024-11-07)</h2>
<h3 id="fixes-1">Fixes</h3>
<ul>
<li><p>Fixing page refresh.</p></li>
<li><p>Fixing page refresh.</p></li>
</ul>
<h3 id="new-1">New</h3>
<ul>
<li><p>New version.</p></li>
<li><p>Added latitude and longitude to video info csv and script to create videos and info csv.</p></li>
<li><p>Adding more fields to path generation.</p></li>
<li><p>Add time.</p></li>
<li><p>Adding dates for clarity.</p></li>
</ul>
<h3 id="other-1">Other</h3>
<ul>
<li><p>Clean unused code.</p></li>
<li><p>Clean code.</p></li>
<li><p>Updating images.</p></li>
<li><p>Double click cells.</p></li>
<li><p>Initial table.</p></li>
<li><p>Disable approval.</p></li>
<li><p>Multiple dates.</p></li>
<li><p>Show gradient trajectories.</p></li>
<li><p>Clean unused code.</p></li>
<li><p>Show interest/avoid areas.</p></li>
</ul>
<h3 id="updates-1">Updates</h3>
<ul>
<li><p>Update .gitlab-ci.yml file.</p></li>
<li><p>Update .gitlab-ci.yml file.</p></li>
<li><p>Update .gitlab-ci.yml file.</p></li>
<li><p>Update .gitlab-ci.yml file.</p></li>
<li><p>Update .gitlab-ci.yml file.</p></li>
<li><p>Update .gitlab-ci.yml file.</p></li>
<li><p>Update .gitlab-ci.yml file.</p></li>
<li><p>Update .gitlab-ci.yml file, yet unfinished.</p></li>
<li><p>Update: display of the entire video instead of the sections.</p></li>
<li><p>Delete rows.</p></li>
<li><p>Update table and save.</p></li>
<li><p>Remove print statements.</p></li>
</ul>
<h2 id="section-1">0.10 (2024-10-16)</h2>
<h3 id="other-2">Other</h3>
<ul>
<li>Version number is now string.</li>
</ul>
<h3 id="updates-2">Updates</h3>
<ul>
<li><p>Update README.md.</p></li>
<li><p>Changelog display.</p></li>
</ul>
<h2 id="section-2">1.0 (2024-10-15)</h2>
<h3 id="new-2">New</h3>
<ul>
<li><p>Add changelog.</p></li>
<li><p>Add all paths to map.</p></li>
</ul>
<h3 id="other-3">Other</h3>
<ul>
<li><p>Cleaning code.</p></li>
<li><p>Showing error message.</p></li>
<li><p>Approve some paths.</p></li>
<li><p>Parallel view of rgb and infra video added.</p></li>
<li><p>Displaying map.</p></li>
<li><p>Displaying correctly.</p></li>
<li><p>Approve paths on button click.</p></li>
<li><p>Merge conflict.</p></li>
<li><p>Include only date, show fig w/ dummy code.</p></li>
<li><p>Neues req.</p></li>
</ul>
<h3 id="updates-3">Updates</h3>
<ul>
<li><p>Update layout.</p></li>
<li><p>Changed the README.md.</p></li>
<li><p>Update README.md.</p></li>
<li><p>Update README.md.</p></li>
<li><p>Changed the README.md.</p></li>
<li><p>Changed run command in README.md.</p></li>
<li><p>Deleted videos from the git.</p></li>
<li><p>Deleted videos from the git.</p></li>
<li><p>Changed requirements.</p></li>
<li><p>Changed requirements.</p></li>
<li><p>Changed requirements.</p></li>
<li><p>Changed requirements.</p></li>
<li><p>Changed requirements.</p></li>
</ul>
<h2 id="section-3">0.9 (2024-09-12)</h2>
<h3 id="fixes-2">Fixes</h3>
<ul>
<li><p>Fixing navbar.</p></li>
<li><p>Fixing small bugs.</p></li>
</ul>
<h3 id="new-3">New</h3>
<ul>
<li><p>New version.</p></li>
<li><p>New path planning.</p></li>
<li><p>New path planning.</p></li>
<li><p>Adding multiple paths to form.</p></li>
<li><p>Add generate path page.</p></li>
<li><p>New video util file.</p></li>
<li><p>New dockerfile.</p></li>
<li><p>New data.</p></li>
<li><p>New dockerfile.</p></li>
<li><p>New layout with bootstrap.</p></li>
<li><p>Adding version.</p></li>
<li><p>New layout with bootstrap.</p></li>
</ul>
<h3 id="other-4">Other</h3>
<ul>
<li><p>Collapsing menu.</p></li>
<li><p>Small changes in design.</p></li>
<li><p>Logic for multiple paths in form.</p></li>
<li><p>Calling script on form submit.</p></li>
<li><p>Show generate path form.</p></li>
<li><p>Videos for another day.</p></li>
<li><p>Videos for another day.</p></li>
<li><p>Small changes on the layout.</p></li>
<li><p>Small changes on the layout.</p></li>
<li><p>Merge remote-tracking branch ‘origin/main’.</p></li>
<li><p>Merge remote-tracking branch ‘origin/8-integrate-jinja-and-html-together-with-dash’ into 8-integrate-jinja-and-html-together-with-dash.</p></li>
<li><p>Cleaning up unused file.</p></li>
<li><p>Removing unused imports.</p></li>
<li><p>Removing pycache files.</p></li>
<li><p>Display new area and path.</p></li>
<li><p>Include routes, variables, utils.</p></li>
<li><p>Merge remote-tracking branch ‘origin/main’.</p></li>
<li><p>Convert to jinja templates.</p></li>
<li><p>Show has_video on hover.</p></li>
<li><p>Showing info on date dropdown.</p></li>
<li><p>Has image on hover.</p></li>
</ul>
<h3 id="updates-4">Updates</h3>
<ul>
<li>Update file dockerfile.</li>
</ul>
<h2 id="section-4">0.8 (2024-08-19)</h2>
<h3 id="fixes-3">Fixes</h3>
<ul>
<li>Fixing bug.</li>
</ul>
<h3 id="other-5">Other</h3>
<ul>
<li><p>Start and stop have now color and text.</p></li>
<li><p>Break.</p></li>
<li><p>Removing print.</p></li>
<li><p>Showing start and stop.</p></li>
<li><p>In progress adding scattermap.</p></li>
</ul>
<h3 id="updates-5">Updates</h3>
<ul>
<li><p>Update file app.py.</p></li>
<li><p>Remove points on click.</p></li>
<li><p>Changed the video codec.</p></li>
<li><p>Changed the video codec.</p></li>
<li><p>Changed the video codec.</p></li>
</ul>
<h2 id="section-5">0.7 (2024-08-08)</h2>
<h3 id="other-6">Other</h3>
<ul>
<li><p>SSL now.</p></li>
<li><p>Bug fixing.</p></li>
<li><p>Merge conflict.</p></li>
<li><p>Spacing around buttons.</p></li>
<li><p>Merge resolve.</p></li>
<li><p>Bug fixing.</p></li>
<li><p>Dcc.Store issue.</p></li>
</ul>
<h3 id="updates-6">Updates</h3>
<ul>
<li><p>Delete paths and points.</p></li>
<li><p>Remove prints.</p></li>
</ul>
<h2 id="section-6">0.6 (2024-07-30)</h2>
<h3 id="new-4">New</h3>
<ul>
<li>New release.</li>
</ul>
<h3 id="other-7">Other</h3>
<ul>
<li><p>Merge remote-tracking branch ‘origin/main’.</p></li>
<li><p>The movie was split into parts.</p></li>
<li><p>The movie was split into parts.</p></li>
<li><p>The movie was split into parts.</p></li>
<li><p>Bug fixing.</p></li>
<li><p>Bug fixing.</p></li>
<li><p>Video integration.</p></li>
<li><p>Video integration.</p></li>
</ul>
<h3 id="updates-7">Updates</h3>
<ul>
<li><p>Update file requirements.txt.</p></li>
<li><p>Update file requirements.txt.</p></li>
<li><p>Update file requirements.txt.</p></li>
</ul>
<h2 id="section-7">0.5 (2024-07-26)</h2>
<h3 id="new-5">New</h3>
<ul>
<li>Adding messaging, keeping files up to date.</li>
</ul>
<h3 id="other-8">Other</h3>
<ul>
<li><p>Video integration.</p></li>
<li><p>Video integration.</p></li>
<li><p>Video integration.</p></li>
</ul>
<h2 id="section-8">0.4 (2024-07-24)</h2>
<h3 id="other-9">Other</h3>
<ul>
<li><p>Merged branches.</p></li>
<li><p>Merge fix.</p></li>
<li><p>Removing data on delete.</p></li>
<li><p>Display delete button, call function.</p></li>
</ul>
<h3 id="updates-8">Updates</h3>
<ul>
<li><p>Updates to UI.</p></li>
<li><p>Changed the names for better understanding.</p></li>
<li><p>Changed the docker procedure.</p></li>
</ul>
<h2 id="section-9">0.3 (2024-07-23)</h2>
<h3 id="other-10">Other</h3>
<ul>
<li><p>Next release.</p></li>
<li><p>The version number is now displayed on the website.</p></li>
<li><p>Destroyed and repaired the picture upload.</p></li>
</ul>
<h2 id="section-10">0.2 (2024-07-22)</h2>
<h3 id="other-11">Other</h3>
<ul>
<li><p>The version number is now displayed on the website.</p></li>
<li><p>Optimized the dropdown menu.</p></li>
</ul>
<h2 id="section-11">0.1 (2024-07-22)</h2>
<h3 id="fixes-4">Fixes</h3>
<ul>
<li>Fixed issue in object return.</li>
</ul>
<h3 id="new-6">New</h3>
<ul>
<li><p>Adding description to hover tool.</p></li>
<li><p>Add README.md.</p></li>
</ul>
<h3 id="other-12">Other</h3>
<ul>
<li><p>Uploading pictures.</p></li>
<li><p>Formatting form and adding filenames to data file.</p></li>
<li><p>Optimized the dropdown menu.</p></li>
<li><p>Height adjustment.</p></li>
<li><p>Adjusting image display.</p></li>
<li><p>Showing images.</p></li>
<li><p>Optimized the dropdown menu.</p></li>
<li><p>Optimized the dropdown menu.</p></li>
<li><p>Optimized the dropdown menu.</p></li>
<li><p>Optimized the dropdown menu.</p></li>
<li><p>Optimized the dropdown menu.</p></li>
<li><p>More than one path per day is now possible.</p></li>
<li><p>Merge remote-tracking branch ‘origin/main’.</p>
<h1 id="conflicts">Conflicts:</h1>
<h1 id="datageo.json">data/geo.json</h1></li>
<li><p>Merge conflict.</p></li>
<li><p>Optimized.</p></li>
<li><p>Merge remote-tracking branch ‘origin/main’.</p>
<h1 id="conflicts-1">Conflicts:</h1>
<h1 id="app.py">app.py</h1></li>
<li><p>Showing coordinates on area click.</p></li>
<li><p>Merge conflict.</p></li>
<li><p>Work in progress showing coordinates on click.</p></li>
<li><p>Implemented the possibility to create areas.</p></li>
<li><p>Included trajectory of the boat.</p></li>
<li><p>Implemented the possibility to create areas.</p></li>
<li><p>Implemented the possibility to create areas.</p></li>
<li><p>Created a Dockerfile.</p></li>
<li><p>Displaying description on hover.</p></li>
<li><p>Areas are now dynamic.</p></li>
<li><p>Areas are now dynamic.</p></li>
<li><p>A grid was created and implemented.</p></li>
<li><p>A first map in plotly dash.</p></li>
<li><p>Imported plotly dash.</p></li>
<li><p>Imported plotly dash.</p></li>
<li><p>Imported plotly dash.</p></li>
<li><p>Some changes for deleting, accepting and declining rectangles.</p></li>
<li><p>Saving method improved.</p></li>
<li><p>Saving method.</p></li>
<li><p>Upload Logo.</p></li>
<li><p>Removing print statements.</p></li>
<li><p>Removing duplicate code.</p></li>
<li><p>In progress - displaying areas from dataframe.</p></li>
<li><p>Initial.</p></li>
<li><p>Initial.</p></li>
<li><p>Initial commit.</p></li>
</ul>
<h3 id="updates-9">Updates</h3>
<ul>
<li><p>Rename images if duplicate.</p></li>
<li><p>Changed data structure.</p></li>
<li><p>Changed data structure.</p></li>
<li><p>Changed data structure.</p></li>
<li><p>Changed data structure.</p></li>
<li><p>Changed the Readme.</p></li>
<li><p>Change to flask.</p></li>
<li><p>Change to flask.</p></li>
<li><p>Change to flask.</p></li>
<li><p>Change to flask.</p></li>
<li><p>Change to flask.</p></li>
<li><p>Change to flask.</p></li>
</ul>
