<h1 id="changelog">Changelog</h1>
<h2 id="unreleased-2026-03-13">Unreleased (2026-03-13)</h2>
<h3 id="fixes">Fixes</h3>
<ul>
<li><p>Fix: synchronise the video and click on the map to set the video
time.</p></li>
<li><p>Fix: incorrect container for density_based_clustering was
used.</p></li>
<li><p>Fix(#60): store bathymetry points in interface.bathymetry.</p>
<p><strong>refactor:</strong> remove deprecated lake_bathymetry
table</p></li>
</ul>
<h3 id="other">Other</h3>
<ul>
<li><p>The data segment was modified.</p></li>
<li><p>Merge remote-tracking branch ‘origin/Junie-interface-polish’ into
Junie-interface-polish.</p></li>
<li><p>The data segment was modified.</p></li>
<li><p>View of possible dates in selection box in evaluation
view.</p></li>
<li><p>Merge remote-tracking branch ‘origin/Junie-interface-polish’ into
Junie-interface-polish.</p></li>
<li><p>Feat(path, traj, area): add summary views and fix delete
refresh.</p>
<p>Simplified Path and Trajectory tables by introducing summary views
and fixing the issue where the Area delete action did not refresh the
table.</p>
<ul>
<li>Trajectory now shows one row per run instead of hundreds of
datapoints.</li>
<li>Planned Path now has a summary tab plus a raw tab for point
editing.</li>
<li>Delete logic updated (by date, path_id, or idx depending on
view).</li>
</ul>
<p>Closes #50 Closes #54</p></li>
<li><p>Server is not crashing due to large forms.</p></li>
<li><p>Junie changes: updated bathymetry, sentinel-2, clustered aoi, and
path planning container. moved some logic from python to javascript for
submitting requests. new design with css.</p></li>
</ul>
<h2 id="section">0.19 (2026-02-04)</h2>
<h3 id="other-1">Other</h3>
<ul>
<li>Resolve “Automated data flow from sensor box to the interface”.</li>
</ul>
<h2 id="section-1">0.18.12 (2026-01-28)</h2>
<h3 id="updates">Updates</h3>
<ul>
<li>Changed the path to the videos.</li>
</ul>
<h2 id="section-2">0.18.10 (2026-01-19)</h2>
<h2 id="section-3">0.18.11 (2026-01-19)</h2>
<h2 id="section-4">0.18.8 (2026-01-19)</h2>
<h2 id="section-5">0.18.9 (2026-01-19)</h2>
<h3 id="other-2">Other</h3>
<ul>
<li>Adjusted the .env.</li>
</ul>
<h2 id="section-6">0.18.7 (2026-01-19)</h2>
<h3 id="other-3">Other</h3>
<ul>
<li><p>Evaluation is now available.</p></li>
<li><p>Evaluation is now available.</p></li>
</ul>
<h2 id="section-7">0.18.6 (2026-01-19)</h2>
<h3 id="other-4">Other</h3>
<ul>
<li>Evaluation is now available.</li>
</ul>
<h2 id="section-8">0.18.5 (2026-01-19)</h2>
<h3 id="other-5">Other</h3>
<ul>
<li>Evaluation is now available.</li>
</ul>
<h2 id="section-9">0.18.2 (2026-01-19)</h2>
<h2 id="section-10">0.18.3 (2026-01-19)</h2>
<h2 id="section-11">0.18.4 (2026-01-19)</h2>
<h3 id="other-6">Other</h3>
<ul>
<li>Evaluation is now available.</li>
</ul>
<h2 id="section-12">0.18.1 (2026-01-19)</h2>
<h3 id="other-7">Other</h3>
<ul>
<li>Evaluation is now available.</li>
</ul>
<h2 id="section-13">0.18 (2026-01-19)</h2>
<h3 id="other-8">Other</h3>
<ul>
<li><p>Evaluation is now available.</p></li>
<li><p>Evaluation is now available.</p></li>
</ul>
<h2 id="section-14">0.17.12 (2025-10-29)</h2>
<h3 id="other-9">Other</h3>
<ul>
<li>Configuration Page.</li>
</ul>
<h2 id="section-15">0.17.10 (2025-09-02)</h2>
<h2 id="section-16">0.17.11 (2025-09-02)</h2>
<h2 id="section-17">0.17.5 (2025-09-02)</h2>
<h2 id="section-18">0.17.6 (2025-09-02)</h2>
<h2 id="section-19">0.17.7 (2025-09-02)</h2>
<h2 id="section-20">0.17.8 (2025-09-02)</h2>
<h2 id="section-21">0.17.9 (2025-09-02)</h2>
<h3 id="fixes-1">Fixes</h3>
<ul>
<li><p>Fixed bug in new areas.</p></li>
<li><p>Fixed bug in new areas.</p></li>
<li><p>Fixed bug in new areas.</p></li>
<li><p>Fixed bug in new areas.</p></li>
<li><p>Fixed bug in new areas.</p></li>
<li><p>Fixed bug in new areas.</p></li>
<li><p>Fixed bug in new areas.</p></li>
<li><p>Fixed bug in new areas.</p></li>
<li><p>Fixed bug in new areas.</p></li>
</ul>
<h3 id="new">New</h3>
<ul>
<li><p>New version.</p></li>
<li><p>New version.</p></li>
<li><p>Added dates as text to the get area. currently only for the
maschsee.</p></li>
</ul>
<h3 id="other-10">Other</h3>
<ul>
<li><p>Merged main into branch.</p></li>
<li><p>Merged main into branch.</p></li>
</ul>
<h2 id="section-22">0.17.2 (2025-08-07)</h2>
<h2 id="section-23">0.17.3 (2025-08-07)</h2>
<h2 id="section-24">0.17.4 (2025-08-07)</h2>
<h3 id="new-1">New</h3>
<ul>
<li>New version.</li>
</ul>
<h3 id="other-11">Other</h3>
<ul>
<li>Merge remote-tracking branch ‘origin/main’.</li>
</ul>
<h2 id="section-25">0.17.1 (2025-08-07)</h2>
<h3 id="new-2">New</h3>
<ul>
<li>Added ‘cd interface’.</li>
</ul>
<h2 id="section-26">0.17 (2025-08-07)</h2>
<h3 id="new-3">New</h3>
<ul>
<li>New version.</li>
</ul>
<h3 id="other-12">Other</h3>
<ul>
<li><p>Merge remote-tracking branch ‘origin/main’.</p></li>
<li><p>Aois can now generated automatically with the service.</p></li>
</ul>
<h3 id="updates-1">Updates</h3>
<ul>
<li><p>Update file .gitlab-ci.yml.</p></li>
<li><p>Update .gitlab-ci.yml file.</p></li>
</ul>
<h2 id="section-27">0.16.6 (2025-08-06)</h2>
<h3 id="other-13">Other</h3>
<ul>
<li><p>Merged main into branch.</p></li>
<li><p>Edit compose.yaml.</p></li>
<li><p>Edit compose.yaml.</p></li>
<li><p>Visualization of apa index for a given date.</p></li>
</ul>
<h3 id="updates-2">Updates</h3>
<ul>
<li>Update .gitlab-ci.yml file.</li>
</ul>
<h2 id="section-28">0.16.5 (2025-07-23)</h2>
<h3 id="updates-3">Updates</h3>
<ul>
<li><p>Changed sentinelhub variables.</p></li>
<li><p>Update file compose.yaml.</p></li>
<li><p>Changed pull policy for estimate_areas_of_interest service in
docker compose.</p></li>
</ul>
<h2 id="section-29">0.16.4 (2025-07-23)</h2>
<h3 id="updates-4">Updates</h3>
<ul>
<li>Changed container version for apa-index.</li>
</ul>
<h2 id="section-30">0.16.3 (2025-07-23)</h2>
<h3 id="fixes-2">Fixes</h3>
<ul>
<li>Fixed typo in compose.</li>
</ul>
<h2 id="section-31">0.16.1 (2025-07-23)</h2>
<h2 id="section-32">0.16.2 (2025-07-23)</h2>
<h3 id="other-14">Other</h3>
<ul>
<li><p>Small change in variables.py.</p></li>
<li><p>Small changes in language variables and planned paths show now
the length.</p></li>
</ul>
<h3 id="updates-5">Updates</h3>
<ul>
<li>Changed compose-file to load env variables in docker.</li>
</ul>
<h2 id="section-33">0.16 (2025-07-14)</h2>
<h3 id="new-4">New</h3>
<ul>
<li><p>Added pull credentials.</p></li>
<li><p>Added git pull to gitlab-ci.</p></li>
<li><p>Added compose file to gitlab-ci.</p></li>
</ul>
<h3 id="other-15">Other</h3>
<ul>
<li><p>Small changes in language variables and planned paths show now
the length.</p></li>
<li><p>Corrected pull commands on hai-x server.</p></li>
<li><p>Small changes in language variables and planned paths show now
the length.</p></li>
<li><p>Small changes in language variables and planned paths show now
the length.</p></li>
<li><p>Explainability Framework Integration with SONAR
Detections.</p></li>
</ul>
<h3 id="updates-6">Updates</h3>
<ul>
<li><p>Update .gitlab-ci.yml file.</p></li>
<li><p>Update .gitlab-ci.yml file.</p></li>
</ul>
<h2 id="section-34">0.15 (2025-06-18)</h2>
<h3 id="new-5">New</h3>
<ul>
<li>New version.</li>
</ul>
<h3 id="other-16">Other</h3>
<ul>
<li>Merge remote-tracking branch ‘origin/main’.</li>
</ul>
<h3 id="updates-7">Updates</h3>
<ul>
<li>Deleted the mount command.</li>
</ul>
<h2 id="section-35">0.14 (2025-06-18)</h2>
<h3 id="new-6">New</h3>
<ul>
<li><p>New version.</p></li>
<li><p>Added the clustering part of aoi based on apa.</p></li>
</ul>
<h3 id="other-17">Other</h3>
<ul>
<li><p>Language change is now not a button anymore.</p></li>
<li><p>Language change is now not a button anymore.</p></li>
<li><p>Edited docker compose for getting sentinel data.</p></li>
<li><p>Merged master into branch.</p></li>
<li><p>Merge remote-tracking branch ‘origin/main’ into
23-adding-information-from-the-satellite-data.</p></li>
<li><p>Path Planning is now with a real algorithm.</p></li>
<li><p>Path Planning is now with a real algorithm.</p></li>
<li><p>Path Planning is now with a real algorithm.</p></li>
<li><p>Merged main into branch.</p></li>
<li><p>Path Planning is now with a real algorithm.</p></li>
<li><p>Merge remote-tracking branch ‘origin/main’.</p></li>
<li><p>Edit compose.yaml.</p></li>
<li><p>Path Planning is now with a real algorithm.</p></li>
<li><p>Merge remote-tracking branch ‘origin/main’.</p></li>
<li><p>Edit README.md.</p></li>
<li><p>Some changes.</p></li>
<li><p>Some changes.</p></li>
<li><p>Some changes.</p></li>
<li><p>Merge remote-tracking branch ‘origin/main’.</p></li>
<li><p>Edit README.md.</p></li>
<li><p>Some changes.</p></li>
<li><p>Some changes.</p></li>
<li><p>Some changes.</p></li>
<li><p>Some changes.</p></li>
<li><p>Merge remote-tracking branch ‘origin/main’.</p></li>
<li><p>Some changes.</p></li>
<li><p>Merge remote-tracking branch ‘origin/main’.</p></li>
<li><p>Edit .gitlab-ci.yml.</p></li>
<li><p>Some changes.</p></li>
<li><p>Data retrieval from sentinelhub tested in docker. Documentation
is in the Readme.md.</p></li>
</ul>
<h3 id="updates-8">Updates</h3>
<ul>
<li><p>Removed the submodules etc.</p></li>
<li><p>Update .gitlab-ci.yml file, videos are now mounted from the
synology fileserver.</p></li>
</ul>
<h2 id="section-36">0.13 (2025-04-11)</h2>
<h3 id="fixes-3">Fixes</h3>
<ul>
<li>Fix issue #22.</li>
</ul>
<h3 id="new-7">New</h3>
<ul>
<li>Add path in map [newarea.html].</li>
</ul>
<h3 id="other-18">Other</h3>
<ul>
<li><p>Merge remote-tracking branch ‘origin/main’.</p></li>
<li><p>Edit README.md.</p></li>
<li><p>Some changes.</p></li>
<li><p>Edit requirements.txt.</p></li>
<li><p>Resolve “replace csv with database”.</p></li>
<li><p>Edit README.md.</p></li>
<li><p>Edit README.md.</p></li>
<li><p>Cleaning.</p></li>
<li><p>Cleaning code.</p></li>
<li><p>Deleting functionality for trajectory.</p></li>
<li><p>Filtering and dropdown error fixes.</p></li>
<li><p>Show more rows functionality.</p></li>
<li><p>Cleand code.</p></li>
<li><p>Display correct table on dropdown change.</p></li>
<li><p>Merge resolve.</p></li>
<li><p>Load table on dropdown change.</p></li>
</ul>
<h2 id="section-37">0.12 (2024-11-18)</h2>
<h3 id="fixes-4">Fixes</h3>
<ul>
<li>Fixing save and delete issues.</li>
</ul>
<h3 id="new-8">New</h3>
<ul>
<li><p>Added cmd to dockerfile.</p></li>
<li><p>New version.</p></li>
<li><p>Added map in new area - first version.</p></li>
</ul>
<h3 id="other-19">Other</h3>
<ul>
<li><p>Cleand code and files.</p></li>
<li><p>Cleand unused code.</p></li>
<li><p>Switched from dash map to folium to draw polygones.</p></li>
<li><p>Path tab with functionality.</p></li>
<li><p>Renaming column.</p></li>
</ul>
<h3 id="updates-9">Updates</h3>
<ul>
<li><p>Update .gitlab-ci.yml file.</p></li>
<li><p>Update requirements.</p></li>
<li><p>Update changelog.</p></li>
<li><p>Removed input field for coordinates.</p></li>
<li><p>Update changelog.</p></li>
<li><p>Update .gitlab-ci.yml file.</p></li>
</ul>
<h2 id="section-38">0.11 (2024-11-07)</h2>
<h3 id="fixes-5">Fixes</h3>
<ul>
<li><p>Fixing page refresh.</p></li>
<li><p>Fixing page refresh.</p></li>
</ul>
<h3 id="new-9">New</h3>
<ul>
<li><p>New version.</p></li>
<li><p>Added latitude and longitude to video info csv and script to
create videos and info csv.</p></li>
<li><p>Adding more fields to path generation.</p></li>
<li><p>Add time.</p></li>
<li><p>Adding dates for clarity.</p></li>
</ul>
<h3 id="other-20">Other</h3>
<ul>
<li><p>Clean unused code.</p></li>
<li><p>Clean code.</p></li>
<li><p>Updating images.</p></li>
<li><p>Double click cells.</p></li>
<li><p>Initial table.</p></li>
<li><p>Disable approval.</p></li>
<li><p>Multiple dates.</p></li>
<li><p>Show gradient trajectories.</p></li>
<li><p>Clean unused code.</p></li>
<li><p>Show interest/avoid areas.</p></li>
</ul>
<h3 id="updates-10">Updates</h3>
<ul>
<li><p>Update .gitlab-ci.yml file.</p></li>
<li><p>Update .gitlab-ci.yml file.</p></li>
<li><p>Update .gitlab-ci.yml file.</p></li>
<li><p>Update .gitlab-ci.yml file.</p></li>
<li><p>Update .gitlab-ci.yml file.</p></li>
<li><p>Update .gitlab-ci.yml file.</p></li>
<li><p>Update .gitlab-ci.yml file.</p></li>
<li><p>Update .gitlab-ci.yml file, yet unfinished.</p></li>
<li><p>Update: display of the entire video instead of the
sections.</p></li>
<li><p>Delete rows.</p></li>
<li><p>Update table and save.</p></li>
<li><p>Remove print statements.</p></li>
</ul>
<h2 id="section-39">0.10 (2024-10-16)</h2>
<h3 id="other-21">Other</h3>
<ul>
<li>Version number is now string.</li>
</ul>
<h3 id="updates-11">Updates</h3>
<ul>
<li><p>Update README.md.</p></li>
<li><p>Changelog display.</p></li>
</ul>
<h2 id="section-40">1.0 (2024-10-15)</h2>
<h3 id="new-10">New</h3>
<ul>
<li><p>Add changelog.</p></li>
<li><p>Add all paths to map.</p></li>
</ul>
<h3 id="other-22">Other</h3>
<ul>
<li><p>Cleaning code.</p></li>
<li><p>Showing error message.</p></li>
<li><p>Approve some paths.</p></li>
<li><p>Parallel view of rgb and infra video added.</p></li>
<li><p>Displaying map.</p></li>
<li><p>Displaying correctly.</p></li>
<li><p>Approve paths on button click.</p></li>
<li><p>Merge conflict.</p></li>
<li><p>Include only date, show fig w/ dummy code.</p></li>
<li><p>Neues req.</p></li>
</ul>
<h3 id="updates-12">Updates</h3>
<ul>
<li><p>Update layout.</p></li>
<li><p>Changed the README.md.</p></li>
<li><p>Update README.md.</p></li>
<li><p>Update README.md.</p></li>
<li><p>Changed the README.md.</p></li>
<li><p>Changed run command in README.md.</p></li>
<li><p>Deleted videos from the git.</p></li>
<li><p>Deleted videos from the git.</p></li>
<li><p>Changed requirements.</p></li>
<li><p>Changed requirements.</p></li>
<li><p>Changed requirements.</p></li>
<li><p>Changed requirements.</p></li>
<li><p>Changed requirements.</p></li>
</ul>
<h2 id="section-41">0.9 (2024-09-12)</h2>
<h3 id="fixes-6">Fixes</h3>
<ul>
<li><p>Fixing navbar.</p></li>
<li><p>Fixing small bugs.</p></li>
</ul>
<h3 id="new-11">New</h3>
<ul>
<li><p>New version.</p></li>
<li><p>New path planning.</p></li>
<li><p>New path planning.</p></li>
<li><p>Adding multiple paths to form.</p></li>
<li><p>Add generate path page.</p></li>
<li><p>New video util file.</p></li>
<li><p>New dockerfile.</p></li>
<li><p>New data.</p></li>
<li><p>New dockerfile.</p></li>
<li><p>New layout with bootstrap.</p></li>
<li><p>Adding version.</p></li>
<li><p>New layout with bootstrap.</p></li>
</ul>
<h3 id="other-23">Other</h3>
<ul>
<li><p>Collapsing menu.</p></li>
<li><p>Small changes in design.</p></li>
<li><p>Logic for multiple paths in form.</p></li>
<li><p>Calling script on form submit.</p></li>
<li><p>Show generate path form.</p></li>
<li><p>Videos for another day.</p></li>
<li><p>Videos for another day.</p></li>
<li><p>Small changes on the layout.</p></li>
<li><p>Small changes on the layout.</p></li>
<li><p>Merge remote-tracking branch ‘origin/main’.</p></li>
<li><p>Merge remote-tracking branch
‘origin/8-integrate-jinja-and-html-together-with-dash’ into
8-integrate-jinja-and-html-together-with-dash.</p></li>
<li><p>Cleaning up unused file.</p></li>
<li><p>Removing unused imports.</p></li>
<li><p>Removing pycache files.</p></li>
<li><p>Display new area and path.</p></li>
<li><p>Include routes, variables, utils.</p></li>
<li><p>Merge remote-tracking branch ‘origin/main’.</p></li>
<li><p>Convert to jinja templates.</p></li>
<li><p>Show has_video on hover.</p></li>
<li><p>Showing info on date dropdown.</p></li>
<li><p>Has image on hover.</p></li>
</ul>
<h3 id="updates-13">Updates</h3>
<ul>
<li>Update file dockerfile.</li>
</ul>
<h2 id="section-42">0.8 (2024-08-19)</h2>
<h3 id="fixes-7">Fixes</h3>
<ul>
<li>Fixing bug.</li>
</ul>
<h3 id="other-24">Other</h3>
<ul>
<li><p>Start and stop have now color and text.</p></li>
<li><p>Break.</p></li>
<li><p>Removing print.</p></li>
<li><p>Showing start and stop.</p></li>
<li><p>In progress adding scattermap.</p></li>
</ul>
<h3 id="updates-14">Updates</h3>
<ul>
<li><p>Update file app.py.</p></li>
<li><p>Remove points on click.</p></li>
<li><p>Changed the video codec.</p></li>
<li><p>Changed the video codec.</p></li>
<li><p>Changed the video codec.</p></li>
</ul>
<h2 id="section-43">0.7 (2024-08-08)</h2>
<h3 id="other-25">Other</h3>
<ul>
<li><p>SSL now.</p></li>
<li><p>Bug fixing.</p></li>
<li><p>Merge conflict.</p></li>
<li><p>Spacing around buttons.</p></li>
<li><p>Merge resolve.</p></li>
<li><p>Bug fixing.</p></li>
<li><p>Dcc.Store issue.</p></li>
</ul>
<h3 id="updates-15">Updates</h3>
<ul>
<li><p>Delete paths and points.</p></li>
<li><p>Remove prints.</p></li>
</ul>
<h2 id="section-44">0.6 (2024-07-30)</h2>
<h3 id="new-12">New</h3>
<ul>
<li>New release.</li>
</ul>
<h3 id="other-26">Other</h3>
<ul>
<li><p>Merge remote-tracking branch ‘origin/main’.</p></li>
<li><p>The movie was split into parts.</p></li>
<li><p>The movie was split into parts.</p></li>
<li><p>The movie was split into parts.</p></li>
<li><p>Bug fixing.</p></li>
<li><p>Bug fixing.</p></li>
<li><p>Video integration.</p></li>
<li><p>Video integration.</p></li>
</ul>
<h3 id="updates-16">Updates</h3>
<ul>
<li><p>Update file requirements.txt.</p></li>
<li><p>Update file requirements.txt.</p></li>
<li><p>Update file requirements.txt.</p></li>
</ul>
<h2 id="section-45">0.5 (2024-07-26)</h2>
<h3 id="new-13">New</h3>
<ul>
<li>Adding messaging, keeping files up to date.</li>
</ul>
<h3 id="other-27">Other</h3>
<ul>
<li><p>Video integration.</p></li>
<li><p>Video integration.</p></li>
<li><p>Video integration.</p></li>
</ul>
<h2 id="section-46">0.4 (2024-07-24)</h2>
<h3 id="other-28">Other</h3>
<ul>
<li><p>Merged branches.</p></li>
<li><p>Merge fix.</p></li>
<li><p>Removing data on delete.</p></li>
<li><p>Display delete button, call function.</p></li>
</ul>
<h3 id="updates-17">Updates</h3>
<ul>
<li><p>Updates to UI.</p></li>
<li><p>Changed the names for better understanding.</p></li>
<li><p>Changed the docker procedure.</p></li>
</ul>
<h2 id="section-47">0.3 (2024-07-23)</h2>
<h3 id="other-29">Other</h3>
<ul>
<li><p>Next release.</p></li>
<li><p>The version number is now displayed on the website.</p></li>
<li><p>Destroyed and repaired the picture upload.</p></li>
</ul>
<h2 id="section-48">0.2 (2024-07-22)</h2>
<h3 id="other-30">Other</h3>
<ul>
<li><p>The version number is now displayed on the website.</p></li>
<li><p>Optimized the dropdown menu.</p></li>
</ul>
<h2 id="section-49">0.1 (2024-07-22)</h2>
<h3 id="fixes-8">Fixes</h3>
<ul>
<li>Fixed issue in object return.</li>
</ul>
<h3 id="new-14">New</h3>
<ul>
<li><p>Adding description to hover tool.</p></li>
<li><p>Add README.md.</p></li>
</ul>
<h3 id="other-31">Other</h3>
<ul>
<li><p>Uploading pictures.</p></li>
<li><p>Formatting form and adding filenames to data file.</p></li>
<li><p>Optimized the dropdown menu.</p></li>
<li><p>Height adjustment.</p></li>
<li><p>Adjusting image display.</p></li>
<li><p>Showing images.</p></li>
<li><p>Optimized the dropdown menu.</p></li>
<li><p>Optimized the dropdown menu.</p></li>
<li><p>Optimized the dropdown menu.</p></li>
<li><p>Optimized the dropdown menu.</p></li>
<li><p>Optimized the dropdown menu.</p></li>
<li><p>More than one path per day is now possible.</p></li>
<li><p>Merge remote-tracking branch ‘origin/main’.</p>
<h1 id="conflicts">Conflicts:</h1>
<h1 id="datageo.json">data/geo.json</h1></li>
<li><p>Merge conflict.</p></li>
<li><p>Optimized.</p></li>
<li><p>Merge remote-tracking branch ‘origin/main’.</p>
<h1 id="conflicts-1">Conflicts:</h1>
<h1 id="app.py">app.py</h1></li>
<li><p>Showing coordinates on area click.</p></li>
<li><p>Merge conflict.</p></li>
<li><p>Work in progress showing coordinates on click.</p></li>
<li><p>Implemented the possibility to create areas.</p></li>
<li><p>Included trajectory of the boat.</p></li>
<li><p>Implemented the possibility to create areas.</p></li>
<li><p>Implemented the possibility to create areas.</p></li>
<li><p>Created a Dockerfile.</p></li>
<li><p>Displaying description on hover.</p></li>
<li><p>Areas are now dynamic.</p></li>
<li><p>Areas are now dynamic.</p></li>
<li><p>A grid was created and implemented.</p></li>
<li><p>A first map in plotly dash.</p></li>
<li><p>Imported plotly dash.</p></li>
<li><p>Imported plotly dash.</p></li>
<li><p>Imported plotly dash.</p></li>
<li><p>Some changes for deleting, accepting and declining
rectangles.</p></li>
<li><p>Saving method improved.</p></li>
<li><p>Saving method.</p></li>
<li><p>Upload Logo.</p></li>
<li><p>Removing print statements.</p></li>
<li><p>Removing duplicate code.</p></li>
<li><p>In progress - displaying areas from dataframe.</p></li>
<li><p>Initial.</p></li>
<li><p>Initial.</p></li>
<li><p>Initial commit.</p></li>
</ul>
<h3 id="updates-18">Updates</h3>
<ul>
<li><p>Rename images if duplicate.</p></li>
<li><p>Changed data structure.</p></li>
<li><p>Changed data structure.</p></li>
<li><p>Changed data structure.</p></li>
<li><p>Changed data structure.</p></li>
<li><p>Changed the Readme.</p></li>
<li><p>Change to flask.</p></li>
<li><p>Change to flask.</p></li>
<li><p>Change to flask.</p></li>
<li><p>Change to flask.</p></li>
<li><p>Change to flask.</p></li>
<li><p>Change to flask.</p></li>
</ul>
